@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

.scroll-hidden::-webkit-scrollbar {
    display: none;
}

.custom-scroll::-webkit-scrollbar {
    @apply w-1 h-1;
}

.custom-scroll::-webkit-scrollbar-track {
    @apply bg-transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
    @apply bg-white/30 rounded-none;
}

.custom-scroll::-webkit-scrollbar-button {
    display: none;
}

@media (min-width: 500px) {
    .container-style {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: linear-gradient(163deg, rgba(255, 255, 255, 0.50) -1.51%, rgba(255, 255, 255, 0.80) 143.73%);
    }
}

.bg-blur-200 {
    filter: blur(100px) blur(100px);
}

.bg-blur-250 {
    filter: blur(125px) blur(125px);
}

/* SweetAlert */
.custom-popup {
    background-color: #333333;
    border: 2px solid #1A1A1A;
    border-radius: unset;
}

.custom-title {
    color: #BEBEBE;
    font-size: 24px;
    font-weight: bold;
}

.custom-val {
    color: #BEBEBE90;
}

.custom-confirm-button {
    background-color: #BEBEBE;
    color: black;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;
}

.custom-delete-button {
    background-color: #FF0000;
    color: black;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;
}

.custom-delete-button:hover {
    background-color: #CC0000;
    /* Lebih gelap dari merah awal */
}

.custom-cancel-button {
    background-color: #1A1A1A;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;
}

.custom-cancel-button:hover {
    background-color: #1F1F1F;
    /* Lebih gelap dari merah awal */
}

.custom-icon {
    font-size: 20px;
    padding-left: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}

/* Hide Autofill Background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 9999s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
    caret-color: white;
    box-shadow: 0 0 0px 1000px transparent inset !important;
}